# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.spec

# Virtual environment
.venv/
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Binaries
*.exe
!opera-proxy.exe
!warp-awg-gen.exe

# Project
*.log